NAME=discord-music-bot
TYPE=bot
MAIN=dist/index.js
RAM=512
VERSION=latest
APT=ffmpeg
BUILD=mkdir -p ./bin ./data && curl -sSL https://github.com/yt-dlp/yt-dlp/releases/latest/download/yt-dlp_linux -o ./bin/yt-dlp && chmod +x ./bin/yt-dlp && npx prisma generate && npm run build && npx prisma migrate deploy
START=node dist/index.js
